body {
  margin: 0;
  overflow-x:hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* NAVBAR - selve header styling ligger på header.js */

#katLink{
  position:absolute;
  top: 25%;
  left: 25%;
  width: 40%;
}
#katLink li{
  display: inline;
  margin-right: 10%;
  font-size: 25px;
  padding: 0.5%;
  border-radius: 5px;
}
#katLink li:hover{
  background-color: #597225;
}
#katLink li a{
  text-decoration: none;
  color: inherit;
}
#search{
  position:absolute;
  top: 20%;
  left:70%;
  display:flex;
}
#search input{
  height: 30px;
  width:350px;
  margin-top: 10px;
  border-radius: 10px;
  margin-right:5px;
}
#search button{
  height: 35px;
  width: 90px;
  left: 95%;
  font-size: 20px;
  color:black;
  text-align:center;
  border-radius: 10px;
  position: absolute;
}
#search a:hover{
  background-color: rgb(200,200,200)
}
/* HOME MAIN SECTION */
main{
  width: 100%;

 }
/* Ikoner meny */
#mainsection{
  display: grid;
  grid-template-columns: 8vw 8vw 8vw 8vw;
  gap: 4vh;
  margin-left: 25%;
  margin-top: 8%;
  margin-bottom: 0;
  left:25vw;
  vertical-align: top;
  text-align: center;
  padding: 5rem;
}
#mainsection article{
  width: 10rem;
  height: 10rem;
  margin-top: 15%;
  border: solid 1px black;
  margin-left:50px;
  border-radius: 30px;
  text-align: center;
  cursor:pointer;
  background-color: #93ba3d;
  padding: 2rem;
}

#mainsection div a{
  text-decoration: none;
}

.caption{
  display: block;
  padding-top: 1rem;
  font-size: x-large;
  width: 16rem;
  margin-left: 4rem;
  text-align: center;
  color: black;
}

#mainsection article:hover{
  background-color:#597225;
}
/* KONTAKT OSS */
#kontakt{
  background-color: #93ba3d;
  height:200px;
  width: 26px;
  text-align:center;
  margin-top: 5%;
  margin-left: 98%;
  writing-mode: vertical-rl;
  position:fixed;
  font-weight: bold;
  font-size: 20px;
  cursor:pointer;
  text-decoration:none;
  color:black;
  border-radius: 5px;
}
#kontakt:hover{
  background-color: #597225;
}

/*  Sidenbar */
#sidebar{
  width:25%;
  margin-top: 9.9%;
  float: right;
  background-color:#93ba3d;
  border-radius: 10px;
  padding-bottom: 30px;
  list-style: none;
  overflow: hidden;
  height: fit-content;
}
#sidebar h1{
  display: block;
  padding: 2rem;
  background-color: black;
  color: #ddd;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align:center;
  font-size: 25px;
  margin-bottom: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#sidebar a{
  display: flex;
  align-items: center;
  border-bottom: 2px solid, #cecece;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  position: relative;
  overflow: hidden;
  font-size: 20px;
  margin-left: 25px;
  text-decoration:none;
  color: black;
  cursor: pointer;
}
#sidebar a:hover{
  color:whitesmoke;
}

/* Hovedsiden */
#artikkelmain{
  width: 100%;
  float:left;
  font-family: 'PT Sans', sans-serif;
  font-size: 100%;
  font-size: 16px;
  line-height: 1.5;
  position: flex;
  background: "f0f4fb";
}
#artikkelmain section{
 margin: 2rem auto;
 max-width: calc(80% - 80px);
}
#artikkelmain section article{
  display: grid;
  grid-template-columns: 200px 50% 100%;
  grid-template-rows: auto minmax(min, max);
  gap: 2rem;
}
 .h1tjenester{
  text-align:center;
  font-size: 40px;
  margin-bottom: 30px;
  margin-top: 50px;
}
#artikkelmain section article div{
  background: whitesmoke;
  border-radius: 20px;
}
#artikkelmain section article div h1{
  margin-left: 0.8%;
}
#artikkelmain section article div h2{
  margin-bottom: 0px;
  font-weight:bold;
  font-size: 25px;
  margin-left: 0.8%;
}
#artikkelmain section article div h3{
  margin-bottom: 0px;
  font-weight:bold;
  font-size: 20px;
  margin-left: 0.8%;
}
#artikkelmain section article div p{
  margin-bottom: 15px;
  margin-left: 0.8%;
}
#artikkelmain section article div ul li{
  list-style-type: circle;
  margin-left: 50px;
}
#artikkelmain section article div strong{
  font-weight: bold;
}

#imagewrapper img{
  margin: 0;
  padding: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  border-radius: 20px 20px 0 0;
}


/*  Siden Loader */
#loading{
  margin-left: 40%;
  margin-top: 15%;
  margin-bottom: 100%;
  font-size: 75px;
}
/* Breadcrumbs */
#breadcrumbs {
  margin-top: 5rem;
  z-index: 9;
}

#breadcrumbs li{
  display: inline;
  text-decoration:none;
  margin-right: 0px;
  margin-left:20px;
}
/* Error denne siden finnes ikke */
#error{
  position:absolute;
  left:25%;
  top:70%;
  font-size: 100px;
}
/* Bilde på denne siden finnes ikke */
#finnes-ikke{
  width: 1000px;
  margin-left:25%;
}
/*  Feltet for søking*/
#searchresult{
  width: 355px;
  display: grid;
  place-items: center;
  background-color:rgb(0,0,0,0.1);
  position:absolute;
  top:35px;
  left:20px;
}
#searchresult li{
  font-size: 20px;
  width:100%;
  margin-left:15px;
  border: 1px solid grey;
  border-radius: 10px;
  background-color:rgb(255,255,255);
  height: 4.375rem;
  padding: 0;
  z-index: 10;
}
#searchresult li:hover{
  background-color:rgb(200,200,200);
}
#searchresult li a{
  padding-top: 20px;
  padding-left: 10px;
  display: block;
  height:100%;
  width: 100%;
}
/* Styling for nyhets delen av forsiden */
#nyhettittel{
  font-size: 40px;
  margin-top: 10%;
  text-align:center;
}
#nyhetsboks{
  width: 60%;
  margin-left: 20%;
  height:60rem;
  display: grid;
  grid-template-columns: 70% 30%;
  box-shadow: 0 4px 20px 0 grey,0 1px 20px 0 grey ;
}
#hovednyhet{
  text-align:center;
}
#hovednyhet img{
  width:450px;
}
#hovednyhet h1{
  font-size: 40px;
}
#hovednyhet h2{
  font-size: 20px;
}
#extranyhet{
  border-left: 3px solid #93ba3d;
  overflow-y:scroll;
  margin-left: -1px;
}
#extranyhet h1{
  margin-top: 15px;
  font-size: 20px;
  text-align:center;
  padding-bottom: 15px;
  box-shadow: 0 4px 1px 0 rgba(0, 0, 0, 0.2);
}
.eldrenyheter{
  width:100%;
  height: 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: grid;
  grid-template-columns: 30% 70%;
}
.eldrenyheter h2{
  font-size: 15px;
  text-align:center;
  margin-top: 20px;
  margin-left: -4.5vw;
}
.eldrenyheter img{
  width: 100px;
  margin-top: 5vh;
}
#lesmer{
  margin-top: 10px;
  margin-left: 45%;
  height: 50px;
  width: 200px;
  border-radius: 30px;
  font-size: 17px;
  background-color: #93ba3d;
  border:none;
  cursor:pointer;
}
#lesmer:hover{
  background-color: #597225;
}
#lesmer a{
  text-decoration: none;
  color:rgb(0, 0, 0);
}
#sort{
  width: 200px;
  height: 50px;
  font-size: 20px;
  margin-left: 20%;
  margin-top: 10px;
  border:none;
  background-color: #93ba3d;
  cursor: pointer;
}
#sort:hover{
  background-color: #597225;
}
/* CSS for skjemaene */

#skjema{
  border: 1px solid black;
  width: 62%;
  display:block;
  position: "flex";
}
#skjema label,input,select{
  display:block;
}
#testartikkel article{
  text-align:center;
  text-decoration:none;
  color:black;
}
#testartikkel article a{
  font-size: 25px;
}
/*  CSS for hovuyd nyhetssiden */
#nyhet{
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  height: 100%;
  text-align:center;
}
#nyhetoverskrift{
  font-size: 50px;
  text-align:center;
}
#nyhet article{
  margin-left: 50%;
  margin-top: 20%;
  width: 400px;
  text-align:center;
  position:relative;
}
#nyhet article h1{
  font-size: 20px;
  margin-bottom: 10px;
}
#nyhet article h2{
  font-size: 15px;
  margin-bottom: 10px;
}
#nyhet article h3{
  font-size: 10px;
  margin-bottom: 40px;
}
#nyhet article img{
  width: 200px;
}
#nyhet article a button{
  font-size: 20px;
  border: solid 1px;
  width: 25%;
  left: 36%;
  bottom: 0;
  position:absolute;
}
#searchResult{
  display:grid;
  grid-template-columns: 22% 22% 22% 22%;
  grid-gap: 50px;
}
#searchTitle{
  text-align:center;
  font-size: 40px;
  margin-bottom: 30px;
}
#searchResult article{
  margin-left:10%;
  width: 100%;
  position: relative;
}
#searchResult article a{
  text-decoration:none;
  color: black;
}
#searchResult article h2{
  font-size: 25px;
  margin-bottom: 30px;
}
#searchResult article h3{
  font-size: 18px;
  margin-left: 15px;
  margin-bottom: 40px;
}
#searchResult article img{
  max-width: 400px;
  margin-left: 10px;
}
#searchResult article a{
  text-align:center;
}
#searchResult article button{
  font-size: 20px;
  border: solid 1px;
  width: 25%;
  margin-left: 37.5%;
  position: absolute;
  bottom: 0;
}
#skjemasection{
  float:none;
  width: 100%;
  border-radius: 15px;
  background-color: #93ba3d;
  padding: 0.5%;
}
#skjemasection form{
  margin-left: 20%;
}
#skjemasection form textarea{
  display:block;
}
#skjemasection form button{
  margin-bottom: 10%;
  display:block;
}
.radiobutton{
  display:inline-block;
}
/* Kurs */
#kurs{
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  height: 100%;
  text-align:center;
}
#kursoverskrift{
  font-size: 50px;
  text-align:center;
}
#kurs article{
  margin-left: 50%;
  margin-top: 20%;
  width: 400px;
  text-align:center;
  position:relative;
}
#kurs article h1{
  font-size: 20px;
  margin-bottom: 10px;
}
#kurs article h2{
  font-size: 15px;
  margin-bottom: 10px;
}
#kurs article h3{
  font-size: 10px;
  margin-bottom: 40px;
}
#kurs article img{
  width: 200px;
}
#kurs article a button{
  font-size: 20px;
  border: solid 1px;
  width: 25%;
  left: 36%;
  bottom: 0;
  position:absolute;
}