body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* NAVBAR */
header{
  width: 100%;
  height: 20%;
  border-bottom: 1px solid black;
}
header nav ul{
  position:absolute;
  top: 3%;
  left: 25%;
}
header nav ul li{
  display: inline;
  margin-right: 15%;
  font-size: 25px;
}
header nav ul li a{
  text-decoration: none;
  color: inherit;
}
#search{
  position:absolute;
  top: 5%;
  left:65%
}
#search input{
  height: 30px;
  width:350px;
  border-radius: 10px;
  margin-right:5px;
}
#search button{
  height: 35px;
  border-radius: 10px;
}
/* HOME MAIN SECTION */
#mainsection{
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  top: 30%;
  position:absolute;
  left:30%;
}
#mainsection article{
  margin-top: 15%;
  border: solid 1px grey;
  margin-left:50px;
  border-radius: 30px;
  text-align:center;
  cursor:pointer;
  background-color:rgb(0,0,0, 0.3);
}
#mainsection article:hover{
  background-color:rgb(0,0,0,0.5);
}
/* KONTAKT OSS */
#kontakt{
  border:solid 1px black;
  height:150px;
  text-align:center;
  margin-top: 5%;
  margin-left: 98.6%;
  writing-mode: vertical-rl;
  position:sticky inline;
  font-weight: bold;
  font-size: 20px;
  cursor:pointer;
}
#kontakt:hover{
  background-color: rgb(0,0,0,0.3);
}

/*  Sidenbar */
#sidebar{
  width:380px;
  margin-left: 79.2%;
  height:823px;
  background-color:aquamarine;
  border-radius: 10px;
  padding-bottom: 30px;
  border-bottom: 1px solid, #ddd;
  list-style: none;
}
#sidebar h1{
  display: block;
  padding: 20px, 20px, 20px, 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  background-color: black;
  color: #ddd;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align:center;
  font-size: 25px;
  margin-bottom: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#sidebar h2{
  margin-left: 10px;
  margin-top: 45px;
  font-size: 20px;
}
#sidebar a{
  display: flex;
  align-items: center;
  border-bottom: 1px solid, #cecece ;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  position: relative;
  overflow: hidden;
  font-size: 20px;
  margin-left: 25px;
  margin-top: 5px;
  padding: 10px;
  text-decoration:none;
  color: black;
  cursor: pointer;
}
#sidebar a:hover{
  color: red;

}
/* Hovedsiden */
#artikkelmain{
  width: 1520px;
  height: 823px;
  position:absolute;
  top: 12%;
}
#artikkelmain section{
  margin-top: 20px;
  font-size: 20px;
}
#artikkelmain section article{
  margin-left: 30%;
  width: 50%;
}
#artikkelmain section article h1{
  text-align:center;
  font-size: 40px;
  margin-bottom: 30px;
  margin-top: 50px;
}
#artikkelmain section article h2{
  margin-bottom: 0px;
  font-weight:bold;
  font-size: 25px;
}
#artikkelmain section article h3{
  margin-bottom: 0px;
  font-weight:bold;
  font-size: 20px;
}
#artikkelmain section article p{
  margin-bottom: 15px;
}
#artikkelmain section article ul li{
  list-style-type: circle;
  margin-left: 50px;
}
#artikkelmain section article strong{
  font-weight: bold;
}
/*  Siden Loader */
#loading{
  position:absolute;
  left:40%;
  top:45%;
  font-size: 100px;
}
/* Breadcrumbs */ 
#breadcrumbs li{
  display: inline;
  text-decoration:none;
  margin-right: 0px;
  margin-left:0px;
}
/* Error denne siden finnes ikke */
#error{
  position:absolute;
  left:25%;
  top:70%;
  font-size: 100px;
}
/* Bilde på denne siden finnes ikke */
#finnes-ikke{
  width: 1000px;
  margin-left:25%;
}
/*  Feltet for søking*/
#searchresult{
  width: 355px;
  display: grid;
  place-items: center;
  background-color:rgb(0,0,0,0.1);
  position:absolute;
  top:35px;
  left:20px;
}
#searchresult li{
  font-size: 20px;
  width:100%;;
  margin-left:15px;
  border: 1px solid grey;
  border-radius: 10px;
  background-color:rgb(255,255,255);
  height: 70px;
  padding: 0;
}
#searchresult li:hover{
  background-color:rgb(200,200,200);
}
#searchresult li a{
  padding-top: 20px;
  padding-left: 10px;
  display: block;;
  height:100%;    
  width: 100%;
}